# App
PORT=3000
NODE_ENV=development
LOG_LEVELS=error,warn

# Database (Docker)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=nestdb

# Redis (Docker)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# CORS
CORS_ORIGINS=http://localhost:4200

# JWT
JWT_SECRET=super-secret-key
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_ACCESS_TOKEN_EXPIRES_IN=15m

# Crypto
SECRET_KEY=yoursecretkeymustbe32characters!!
SECRET_KEY_IV=yoursecretkeyiv!
